{% include "headers.html" %}

<body>

  <div class="container">
    <div class="row">
      <!-- About content on the left side -->
      <div class="col-md-6">
        <div class="aboutcover">
          <h1>About</h1>

                <h2>About This Project</h2>
<p>This web application, developed with Flask, integrates dynamic backend functionality with a sleek, responsive frontend. Flask handles routing, data processing, and template rendering with Jinja2. Locally, SQLite manages data, while PostgreSQL is used in the production environment, offering enhanced scalability, reliability, and performance.</p>
<p>The frontend leverages HTML, CSS, and Bootstrap to deliver a sleek, responsive user experience optimized for all devices. Seamless version control is ensured through GitHub, while the application harnesses the full power of the Python programming language through Flask, providing a robust, scalable, and reliable solution.</p>
<h2>About Me</h2>

<p>As a web developer with experience in Python, full-stack development, and database management, I’m committed to building efficient, user-centered applications. This project reflects my dedication to delivering high-quality solutions that balance functionality and user experience.</p>

        </div>
      </div>

      <div class="col-md-6 form">
        <img src="/static/assets/image/johnface.jpg" class="internal-shadow-image" alt="John Mapunda web designer">
    </div>

    </div>
  </div>
 

</body>

{% include "footer.html" %}