<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X51NLKY5TT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X51NLKY5TT');
</script>
    <meta name="description" content="John Mapunda - Developer, Frontend, Backend, Analyst, and Automation Programmer. Explore my projects and services.">
    <meta name="keywords" content="John Mapunda, developer, web development, frontend, backend, automation, Python, Flask, Bootstrap, portfolio, SEO, programming, Website design, menu, digital menu, restaurant">
    <meta name="author" content="John Mapunda">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="John Mapunda - Developer Portfolio">
    <meta property="og:description" content="Explore my journey, projects, and services as a developer specializing in frontend, backend, and automation.">
    <meta property="og:image" content="https://johnmapunda.com/static/assets/image/JM_logo.png">
    <meta property="og:url" content="https://johnmapunda.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="John Mapunda - Developer Portfolio">
    <meta name="twitter:description" content="Discover my work in frontend, backend, automation, and web development.">
    <meta name="twitter:image" content="https://johnmapunda.com/static/assets/image/JM_logo.png">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "John Mapunda",
          "url": "https://johnmapunda.com",
          "image": "https://johnmapunda.com/static/assets/image/JM_logo.png",
          "jobTitle": "Developer & Automation Programmer",
          "worksFor": {
            "@type": "Organization",
            "name": "Freelance"
          },
          "sameAs": [
            "https://www.linkedin.com/in/john-mapunda007/",
            "https://www.instagram.com/slocodedeveloper",
            "https://github.com/jmmapunda"
          ]
        }
        </script>
        


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>John Mapunda</title>
    <link rel="icon" type="image/png" href="/static/assets/image/JM_logo.png">
</head>
<body>
    <header>
      
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">
                <img src="/static/assets/image/JM_logo.png" alt="John Mapunda Logo - Web Developer" width="50px" height="auto">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' or request.path == '/home' %}active{% endif %}" 
                           aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/calculator' %}active{% endif %}" href="{{ url_for('calculator') }}">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/connect' %}active{% endif %}" href="{{ url_for('connect') }}">Let's ConnecT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    </header>