<html lang="en">
<head>
    <meta name="description" content="John Mapunda - Developer, Frontend, Backend, Analyst, and Automation Programmer. Explore my projects and services.">
    <meta name="keywords" content="John Mapunda, developer, web development, frontend, backend, automation, Python, Flask, Bootstrap, portfolio, SEO, programming, Website design, menu, digital menu, restaurant">
    <meta name="author" content="John Mapunda">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="John Mapunda - Developer Portfolio">
    <meta property="og:description" content="Explore my journey, projects, and services as a developer specializing in frontend, backend, and automation.">
    <meta property="og:image" content="https://johnmapunda.com/static/assets/image/JM_logo.png">
    <meta property="og:url" content="https://johnmapunda.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="John Mapunda - Developer Portfolio">
    <meta name="twitter:description" content="Discover my work in frontend, backend, automation, and web development.">
    <meta name="twitter:image" content="https://johnmapunda.com/static/assets/image/JM_logo.png">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "John Mapunda",
          "url": "https://johnmapunda.com",
          "image": "https://johnmapunda.com/static/assets/image/JM_logo.png",
          "jobTitle": "Developer & Automation Programmer",
          "worksFor": {
            "@type": "Organization",
            "name": "Freelance"
          },
          "sameAs": [
            "https://www.linkedin.com/in/john-mapunda007/",
            "https://www.instagram.com/johncaptain007",
            "https://github.com/jmmapunda"
          ]
        }
        </script>
        


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>John Mapunda</title>
    <link rel="icon" type="image/png" href="/static/assets/image/JM_logo.png">
</head>
<body>
    <header>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">
                <img src="/static/assets/image/JM_logo.png" alt="John Mapunda Logo - Web Developer" width="50" height="auto">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' or request.path == '/home' %}active{% endif %}" 
                           aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/connect' %}active{% endif %}" href="{{ url_for('connect') }}">Let's ConnecT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    </header>
    <section>
      <main>
        <div>
          <h1>"Hello and welcome! Explore my journey, projects, and creativity in action. This is where ideas come to life—let’s create something amazing!"</h1>
        </div>
        <div class="blue">
            <h2>John Mapunda - Web Developer Specializing in Python, Flask, and Automation</h2>

        </div>
        <div class="skills">
            
            <div class="languages">
                <div><h3>Languages Fluent:</h3></div>
                <div>
                    <div class="row row-cols-6">
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Python.svg" alt="Python">
                        <span>Python</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/HTML5.svg" alt="HTML">
                        <span>HTML</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/CSS3.svg" alt="css">
                        <span>CSS</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/JavaScript.svg" alt="JavaScript">
                        <span>JavaScript</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/MySQL.svg" alt="MySQL">
                        <span>MySQL</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/PostgresSQL.svg" alt="PostgresSQL">
                        <span>PostgresSQL</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/SQLite.svg" alt="SQLite">
                        <span>SQLite</span>
                    </div>
                    </div>
                </div>
             

            </div>
            <div class="tools">
                <h3>Devlopment Tools:</h3>
                <div>
                    <div class="row row-cols-6">
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Flask.svg" alt="Flask">
                        <span>Flask</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Bootstrap.svg" alt="Bootstrap">
                        <span>Bootstrap</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/GitHub.svg" alt="GitHub">
                        <span>GitHub</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Visual_Studio_Code.svg" alt="VS Code">
                        <span>VS Code</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Selenium.svg" alt="Selenium">
                        <span>Selenium</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Pandas.svg" alt="Pandas">
                        <span>Pandas</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/PyCharm.svg" alt="PyCharm">
                        <span>PyCharm</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/Git.svg" alt="Git">
                        <span>Git</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/NumPy.svg" alt="NumPy">
                        <span>NumPy</span>
                    </div>
                    <div class="lang_icon col">
                        <img src="/static/assets/svg/SQLAlchemy.svg" alt="SQLAlchemy">
                        <span>SQLAlchemy</span>
                    </div>
                    </div>
                </div>
               

            </div>

        </div>
        <div class="services">
            <a href="menu">
                <div class="tools">Restaurant Menu
                <img src="/static/assets/image/menu/restaurant_menu.png" alt="Restaurant Menu Design" loading="lazy">
            </div></a>
            <a href="https://movie.johnmapunda.com/">
                <div class="tools">Website Design
                <img src="/static/assets/image/movieweb.png" alt="Movie Website Design" loading="lazy">
            </div></a>
            <a href="home">
                <div class="tools">Website Design
                <img src="/static/assets/image/johnportfolio.png" alt="Website Design" loading="lazy">
            </div></a>
        </div>
      </main>

    </section>
    <footer>
        <div class="footer2">"Turn Your Vision into Reality"</div>
        <div class="footer1">Every great project starts with a conversation. Let’s connect and turn your ideas into something impactful.</div>
        <a href="connect"><div class="footer2"><button type="button" class="btn btn-outline-warning btn-lg">Let's ConnecT</button></div></a>
        <div class="links">Copylight John Mapunda</div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
